/* add custom styles */
.stack {
    display: flex;
    flex-direction: column;
}

.side-by-side {
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backgo
}

.logo {
    width: 80px;
    height: 80px;
    background-color: yellow;
}

.menu-container {
    width: 50px;
    height: 50px;
    background-color: green;
}

.slider-wrapper {
    height: 300px;
    background-color: grey;
}
.more-less, .info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-less {
    height: 50px;
    background-color: blue;
}
.info {
    height: 150px;
    background-color: green;
    margin-bottom: 20px;
}
.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.grid-box {
    height: 200px;
    width: 200px;
    border: 1px solid red;
}
